
  <div class="mb-8">
  <!-- title -->
  <h5 class="mb-3">Categories</h5>
  <!-- nav -->
  <ul class="nav nav-category" id="categoryCollapseMenu">
    <li class="nav-item border-bottom w-100 collapsed" data-bs-toggle="collapse">
      <a  class="nav-link"
      [class.active]="!category"
      routerLink="/"
      >All Categories <em class="feather-icon icon-chevron-right"></em></a>


    </li>
    <!-- nav item -->
    <li class="nav-item border-bottom w-100 collapsed" data-bs-toggle="collapse">
      <a  *ngFor="let c of categories$ | async"  class="nav-link"
      routerLink="/"
      [queryParams]="{ category: c.key}"
      [class.active]="category ===  c.key"
      >
      {{c.name }} 
      <em class="feather-icon icon-chevron-right"></em>
      </a>

     </li>              

  </ul>
</div>




